<!DOCTYPE html> 
<html lang="en">	
	<head>		
		<meta charset="utf-8"> 
		<title>[Page Title]</title> 
        
        <link rel="stylesheet" href="style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
        <script src="js/contact-form-process.js"></script>
        
        <!--[if IE 6]>
            <style>body { behavior: url("styles/ie6-hover-fix.htc"); }</style>
            <link rel="stylesheet" href="styles/ie6.css" />
        <![endif]--> 
        <!--[if IE 7]>
            <link rel="stylesheet" href="styles/ie7.css" />
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" href="styles/ie8.css" />
        <![endif]-->              		 
		 
	</head> 
	
	<body> 
	
		<div id="top-banner"></div> 
		
		<div id="wrap"> 
        	<div id="header"> 
				
				<h1><a href="index.html">[Your Name]</a></h1>            	             	
            	<h2>[Subtitle]</h2> 
                      	
					<ul id="nav">
						<li><a href="index.html">Home</a><span>/</span></li>
						<li><a href="page.html">Services</a><span>/</span>
							<ul>
								<li><a href="#">Branding</a></li>
								<li><a href="#">Online Marketing</a></li>
								<li><a href="#">Search Engine Optimisation</a></li>
								<li><a href="#">Web Design</a></li>
							</ul>
						</li>
						<li><a href="portfolio.html">Portfolio</a><span>/</span></li>
						<li><a href="news.html">News</a><span>/</span></li>
						<li class="current"><a href="contact.html">Contact</a></li>
					</ul>
							        
            </div><!--end header-->    
                        
            <div id="main">    
		    	<div id="content">    		
					<h2 class="page-title">Contact</h2> 
					<p>Please use the form below if you&#8217;d like to get in touch about hiring me or if you would like to discuss anything else. </p> 												
					<p class="hide" id="response"></p> 
					
					<form id="contact-form" method="post" action="scripts/contact-process.php">
						<fieldset>					
							<input id="form_name" type="text" name="name" value="Name" onfocus="if(this.value=='Name'){this.value=''};" onblur="if(this.value==''){this.value='Name'};" />					
							<input id="form_email" type="text" name="email" value="Email" onfocus="if(this.value=='Email'){this.value=''};" onblur="if(this.value==''){this.value='Email'};" />
							<input id="form_subject" type="text" name="subject" value="Subject" onfocus="if(this.value=='Subject'){this.value=''};" onblur="if(this.value==''){this.value='Subject'};" />			
							<textarea id="form_message" rows="10" cols="40" name="message"></textarea>				
							<input id="form_submit" class="button" type="submit" name="submit" value="Submit" />			
							<div class="hide">
								<label>Do not fill out this field</label>
								<input name="spam_check" type="text" value="" />
							</div>
						</fieldset>
					</form>
					
		    	</div><!--end content-->  
		
				<div id="sidebar"> 
								
					<h3 class="sidebar-title">Get In Touch</h3>
					<p>Would you like to discuss hiring me for a project you have in mind? If so, please contact me using one of the options below.</p>	
					<b>Email</b>
					<p>[Your Email]</p>		
								
					<b>Phone</b>
					<p>[Your Phone Number]</p>		
								
					<b>Address</b>
					<p>[Your Address]</p>
																				
				</div><!--end sidebar-->
					
			</div><!--end main-->
			
			<div class="line"></div>
			 
			<div id="footer"> 
				<p class="copyright">Copyright © 2011 / [Your Name] / All Rights Reserved</p> 
				<p class="social"><a href="#">Follow Me On Twitter »</a></p> 
			</div><!--end footer-->
		 
		</div><!--end wrap--> 
          
	</body> 
</html>