<!DOCTYPE html> 
<html lang="en">	
	<head>		
		<meta charset="utf-8"> 
		<title>[Page Title]</title> 
        
        <link rel="stylesheet" href="style.css" />
        
        <!--[if IE 6]>
            <style>body { behavior: url("styles/ie6-hover-fix.htc"); }</style>
            <link rel="stylesheet" href="styles/ie6.css" />
        <![endif]--> 
        <!--[if IE 7]>
            <link rel="stylesheet" href="styles/ie7.css" />
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" href="styles/ie8.css" />
        <![endif]-->               		 
		 
	</head> 
	
	<body> 
	
		<div id="top-banner"></div> 
		
		<div id="wrap"> 
        	<div id="header"> 
				
				<h1><a href="index.html">[Your Name]</a></h1>            	             	
            	<h2>[Subtitle]</h2> 
                      	
					<ul id="nav">
						<li><a href="index.html">Home</a><span>/</span></li>
						<li><a href="page.html">Services</a><span>/</span>
							<ul>
								<li><a href="#">Branding</a></li>
								<li><a href="#">Online Marketing</a></li>
								<li><a href="#">Search Engine Optimisation</a></li>
								<li><a href="#">Web Design</a></li>
							</ul>
						</li>
						<li class="current"><a href="portfolio.html">Portfolio</a><span>/</span></li>
						<li><a href="news.html">News</a><span>/</span></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
							        
            </div><!--end header-->   
                        
            <div id="main">   
    			<div id="portfolio-content"> 
    		    	<h2 class="page-title">Portfolio</h2> 
	    			<p id="portfolio-intro">Below are some screenshots of the latest projects that I have been working on. Please <a href="#">get in touch</a> if you would like to discuss hiring me for some work.</p> 
	    			
	    			<div class="portfolio-item first"> 		      	   
						<p>[Project Title]</p>			
						<a href="#"><img width="280" height="190" src="#" class="post-image" alt="[alt text]" title="[title text]" /></a> 		    			</div><!--end portfolio-item--> 
		           		    	
		        	<div class="portfolio-item"> 		      	   
						<p>[Project Title]</p>			
						<a href="#"><img width="280" height="190" src="#" class="post-image" alt="[alt text]" title="[title text]" /></a> 		    			</div><!--end portfolio-item-->
						
					<div class="portfolio-item"> 		      	   
						<p>[Project Title]</p>			
						<a href="#"><img width="280" height="190" src="#" class="post-image" alt="[alt text]" title="[title text]" /></a> 		    			</div><!--end portfolio-item--> 
		  
        		</div><!--end portfolio-content--> 
			</div><!--end main-->
			
			<div class="line"></div>
			 
			<div id="footer"> 
				<p class="copyright">Copyright © 2011 / [Your Name] / All Rights Reserved</p> 
				<p class="social"><a href="#">Follow Me On Twitter »</a></p> 
			</div><!--end footer-->
		 
		</div><!--end wrap--> 
          
	</body> 
</html>